@font-face {
   font-family: 'arfonts-decotype-thuluth-ii';
   font-display: swap;
   src: url('file:///C:/Users/zezo/AppData/Local/Mobirise.com/Mobirise/projects/project-2024-07-18_143903/fonts/arfonts-decotype-thuluth-ii/font.ttf');
}
